<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Regina Caeli</title>

<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->

<!-- player -->
<link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
<link href="https://cdn.plyr.io/3.5.6/plyr.svg" />
<script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
<script src="https://cdn.rawgit.com/video-dev/hls.js/18bb552/dist/hls.min.js"></script>


{% load static %}
<link href="{% static 'fold/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'fold/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'fold/css/contactstyle.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'fold/css/faqstyle.css' %}" type="text/css" media="all" />
<link href="{% static 'fold/css/single.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'fold/css/medile.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'fold/css/videos.css' %}" rel='stylesheet' type='text/css' />

<link href="{% static 'fold/flowplayer/skin/skin.css' %}" rel='stylesheet' type='text/css' />

<!-- banner-slider -->
<link href="{% static 'fold/css/jquery.slidey.min.css' %}" rel="stylesheet">
<!-- //banner-slider -->

<!-- pop-up -->
<link href="{% static 'fold/css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //pop-up -->
<!-- font-awesome icons -->
<link rel="stylesheet" href="{% static 'fold/css/font-awesome.min.css' %}" />
<!-- //font-awesome icons -->
<!-- js -->
<script type="text/javascript" src="{% static 'fold/js/jquery-2.1.4.min.js' %}"></script>

<!-- flowplayer
<script type="text/javascript" src="{% static 'fold/flowplayer/flowplayer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fold/flowplayer/jquery-1.12.4.min.js' %}"></script>
-->


<!-- banner-bottom-plugin -->
<link href="{% static 'fold/css/owl.carousel.css' %}" rel="stylesheet" type="text/css" media="all">
<script src="{% static 'fold/js/owl.carousel.js' %}"></script>
<script>
	$(document).ready(function() { 
		$("#owl-demo").owlCarousel({
	 
		  autoPlay: 3000, //Set AutoPlay to 3 seconds
	 
		  items : 5,
		  itemsDesktop : [640,4],
		  itemsDesktopSmall : [414,3]
	 
		});
	 
	}); 
</script> 
<!-- //banner-bottom-plugin -->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'fold/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'fold/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="w3layouts_logo">
				<a href="{% url 'videos_app:home' %}"><h1>FINEXS<span>MovieZ</span></h1></a>
			</div>
			
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->

<!-- nav -->
	<div class="movies_nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav>
						<ul class="nav navbar-nav">
							<li class="active"><a href="{% url 'videos_app:home' %}">Accueil</a></li>
						</ul>
					</nav>
				</div>
			</nav>	
		</div>
	</div>
<!-- //nav -->

{% block 'content' %} {% endblock %}

<!-- footer -->
	<div class="footer">
		<div class="container">
			
			<div class="col-md-5 w3ls_footer_grid1_left">
				<p>&copy; 2016 One Movies. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
			
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //footer -->

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'fold/js/bootstrap.min.js' %}"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
{% block foot-javascript %}{% endblock %}
</body>
</html>